# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# Virtual environments
.env
.venv
env/
venv/

# Streamlit
.streamlit/

# OS / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/

# API keys / secrets
*.env

